* {
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

code {
  font-size: 1.2em;
}



button { margin: 5px; }
li { list-style-type: none; }
ul, li { margin: 0; padding: 0; }


